NEXT_PUBLIC_SITE_URL=https://www.legendsbikerace.com.br
RIDE_WITH_GPS_CLIENT_ID=
RIDE_WITH_GPS_CLIENT_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LEGENDS_ADMIN_PASSWORD=
